section.post
  display: flex
  flex-direction: column
  background: #fff
  border: solid 1px $lighter-color
  border-bottom-width: 5px
  margin-bottom: 1em
  max-width: 1200px

  header
    padding: 0.5em 0.25em 0.1em 0.5em
    min-height: 4em
    position: relative
    flex-grow: 1
    font-family: $header-fonts
    text-transform:  uppercase
    h3
      margin: 0
      font-size: 1.5em
      text-align: center
    h3 a
      text-decoration:  none

    .post-details
      color: $light-color
      font-size: 0.8em
      display: flex
      flex-wrap: wrap
      justify-content: center
    .post-details-text
      flex: auto

  .main
    position: relative
    flex-grow: 1
    padding: 0 1.25em 1.5em 1.25em
    text-align: justify
  .image
    overflow: hidden
    width: 100%
    height: 10em
    display: block
    flex-grow: 1
    position: relative
    img
      transition: transform 0.2s ease-out
      width: 100%
      
      top: -100%
      left: 0
      right: 0
      bottom: -100%
      position: absolute
      margin: auto
    &:hover img
      transform: scale(1.02);
    a .icon-location-outline, .post-location-short
      color: $lightest-color

article.post-single
  background: #fff
  border: solid 1px $lighter-color
  border-bottom-width: 5px
  margin-bottom: 1em
  margin: 0 auto 1em
  max-width: 1200px
  z-index: 2
  margin: 0 auto 1em
  .image
    z-index: 1
    width: 100%
    img
      width: 100%
  .post-content
    padding: 0 1em
    text-align: justify
    


    .post-top
      width: 100%
      
      h1
        color: $tone-color
        font-size: 1.4em
        margin: 0 auto
      .post-details
        padding: 0 1em
        color: $tone-color
        font-size: 0.8em
        display: flex
        flex-wrap: wrap
        justify-content: center
        a 
          text-decoration: none !important
        a .icon-location-outline, .post-location-short
          color: $tone-color
          text-decoration: none
.button-container
  width: 100%
  text-align: center



#icon-left-double
  margin-left: -1em

#icon-right-double
  margin-left: -1em

.post-button
  display: inline-block
  border: 2px solid $lighter-color
  margin: 0.5em auto 0.5em
  box-sizing: border-box
  vertical-align: middle
  text-align: center
  font-weight: 500
  padding: .5em 1rem
  font-size: 1rem
  z-index: 4
  
  &:hover
    background-color: $main-color
    border-color: $shade-color
    a
      color: $lightest-color

a .post-button
  color: $light-color
  text-decoration: none
  &:hover
    color: $lightest-color

#post-button-active
  background-color: $main-color
  border-color: $shade-color
  color: $lightest-color
  &:hover
    background-color: $shade-color
      

/* Small < */
@media screen and (min-width: 24em)
  article.post-single
    width: 90%
    .post-content
      padding: 0 2em

  article.post-single .post-top .post-content .post-top h1
    font-size: 2rem

@media screen and (min-width: 48em)
  section.post
    width: 80%
    margin: 0 auto 1em
    header 
    .image
      height: 15em

  article.post-single
    width: 80%
    .post-top
      width: 100%
       
      .post-content h1
        color: $lightest-color
        font-size: 3rem
        margin: 0 auto
      .post-details
        color: $lightest-color
        font-size: 1em
        display: flex
        flex-wrap: wrap
        justify-content: center
        a 
          text-decoration: none !important
        a .icon-location-outline, .post-location-short
          color: $lightest-color
          text-decoration: none

    .post-content
      padding: 0 4em

  article.post-single .post-top .post-content .post-top h1
    font-size: 3rem

/* Large < */
@media screen and (min-width: 64em)
  article.post-single .post-top .post-content .post-top h1
    font-size: 3rem

/* X-Large < */
@media screen and (min-width: 80em)
  section.post-group 
    margin: 1em 15%

  article.post-single .post-content .post-top
    h1
      font-size: 4rem

