<nav class="fixed-header">
  <div class="nav-home">
    <a href="{{.Site.BaseURL }}">
      <img class="nav-logo" alt="" src="/imgs/img-logo.png">
      <div class="nav-text">Yacht Shepherd Moon</div>
    </a>
  </div>
  <div class="nav-item">
    <a href="/">About</a>
  </div>
  <div class="nav-item {{ if eq .Section "gallery"}}page-active{{end}}">
    <a href="/gallery">Gallery</a>
  </div>
  <div class="nav-item {{ if eq .Section "posts"}}page-active{{end}}">
    <a href="/posts">Blog</a>
  </div>
</nav>